/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.7.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: DRG
-- ------------------------------------------------------
-- Server version	11.7.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `aktivitaspendukung`
--

DROP TABLE IF EXISTS `aktivitaspendukung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aktivitaspendukung` (
  `id_aktivitas` int(11) NOT NULL AUTO_INCREMENT,
  `id_supporter` int(11) NOT NULL,
  `jenis_aktivitas` varchar(50) NOT NULL,
  `waktu_aktivitas` timestamp NULL DEFAULT current_timestamp(),
  `keterangan` text DEFAULT NULL,
  PRIMARY KEY (`id_aktivitas`),
  KEY `id_supporter` (`id_supporter`),
  CONSTRAINT `aktivitaspendukung_ibfk_1` FOREIGN KEY (`id_supporter`) REFERENCES `supporter` (`id_supporter`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aktivitaspendukung`
--

LOCK TABLES `aktivitaspendukung` WRITE;
/*!40000 ALTER TABLE `aktivitaspendukung` DISABLE KEYS */;
/*!40000 ALTER TABLE `aktivitaspendukung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audio`
--

DROP TABLE IF EXISTS `audio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `audio` (
  `id_konten` int(11) NOT NULL,
  `durasi` time DEFAULT NULL,
  `kualitas` varchar(75) DEFAULT NULL,
  KEY `id_konten` (`id_konten`),
  CONSTRAINT `audio_ibfk_1` FOREIGN KEY (`id_konten`) REFERENCES `konten` (`id_konten`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audio`
--

LOCK TABLES `audio` WRITE;
/*!40000 ALTER TABLE `audio` DISABLE KEYS */;
/*!40000 ALTER TABLE `audio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `creator`
--

DROP TABLE IF EXISTS `creator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `creator` (
  `id_creator` int(11) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `bidang_kreasi` varchar(100) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `tanggal_bergabung` date DEFAULT NULL,
  PRIMARY KEY (`id_creator`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `creator`
--

LOCK TABLES `creator` WRITE;
/*!40000 ALTER TABLE `creator` DISABLE KEYS */;
/*!40000 ALTER TABLE `creator` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validasi_email_creator_insert
BEFORE INSERT ON Creator
FOR EACH ROW
BEGIN
    IF NOT (NEW.email LIKE '_%@_%._%' AND NEW.email LIKE '%.com' AND LOCATE('@', NEW.email, LOCATE('@', NEW.email) + 1) = 0 AND SUBSTRING_INDEX(SUBSTRING_INDEX(NEW.email, '@', 1), '@', -1) NOT LIKE '%@%') THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Format email kreator tidak valid.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validasi_email_creator_update
BEFORE UPDATE ON Creator
FOR EACH ROW
BEGIN
    IF NEW.email <> OLD.email THEN
        IF NOT (NEW.email LIKE '_%@_%._%' AND NEW.email LIKE '%.com' AND LOCATE('@', NEW.email, LOCATE('@', NEW.email) + 1) = 0 AND SUBSTRING_INDEX(SUBSTRING_INDEX(NEW.email, '@', 1), '@', -1) NOT LIKE '%@%') THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Format email kreator tidak valid.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `gambar`
--

DROP TABLE IF EXISTS `gambar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `gambar` (
  `id_gambar` int(11) NOT NULL,
  `id_konten` int(11) NOT NULL,
  `format` varchar(50) DEFAULT NULL,
  `resolusi` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_gambar`),
  KEY `id_konten` (`id_konten`),
  CONSTRAINT `gambar_ibfk_1` FOREIGN KEY (`id_konten`) REFERENCES `konten` (`id_konten`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gambar`
--

LOCK TABLES `gambar` WRITE;
/*!40000 ALTER TABLE `gambar` DISABLE KEYS */;
/*!40000 ALTER TABLE `gambar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `informasi_hasil`
--

DROP TABLE IF EXISTS `informasi_hasil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `informasi_hasil` (
  `id_gambar` int(11) NOT NULL,
  `id_spesial` int(11) NOT NULL,
  `status_pengerjaan` varchar(75) DEFAULT NULL,
  `tanggal_penyelesaian` date DEFAULT NULL,
  `feedback` text DEFAULT NULL,
  KEY `id_gambar` (`id_gambar`),
  KEY `id_spesial` (`id_spesial`),
  CONSTRAINT `informasi_hasil_ibfk_1` FOREIGN KEY (`id_gambar`) REFERENCES `gambar` (`id_gambar`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `informasi_hasil_ibfk_2` FOREIGN KEY (`id_spesial`) REFERENCES `special_content` (`id_spesial`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `informasi_hasil`
--

LOCK TABLES `informasi_hasil` WRITE;
/*!40000 ALTER TABLE `informasi_hasil` DISABLE KEYS */;
/*!40000 ALTER TABLE `informasi_hasil` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER TRG_Informasi_Hasil_Status_Transition
BEFORE UPDATE ON Informasi_Hasil
FOR EACH ROW
BEGIN
    IF OLD.status_pengerjaan = 'menunggu_persetujuan' AND
       NEW.status_pengerjaan NOT IN ('disetujui', 'ditolak') THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Transisi dari menunggu_persetujuan salah. Ke: disetujui/ditolak.';
    ELSEIF OLD.status_pengerjaan = 'disetujui' AND
           NEW.status_pengerjaan <> 'dalam_pengerjaan' THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Transisi dari disetujui salah. Ke: dalam_pengerjaan.';
    ELSEIF OLD.status_pengerjaan = 'dalam_pengerjaan' AND
           NEW.status_pengerjaan <> 'selesai' THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Transisi dari dalam_pengerjaan salah. Ke: selesai.';
    ELSEIF (OLD.status_pengerjaan = 'selesai' AND
            NEW.status_pengerjaan <> OLD.status_pengerjaan) OR
           (OLD.status_pengerjaan = 'ditolak' AND
            NEW.status_pengerjaan <> OLD.status_pengerjaan) THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Status final (selesai/ditolak), tak bisa diubah.';
    ELSEIF OLD.status_pengerjaan = 'menunggu_persetujuan' AND
           NEW.status_pengerjaan = 'dalam_pengerjaan' THEN
         SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Lompatan status salah: menunggu_persetujuan ke dalam_pengerjaan.';
    ELSEIF OLD.status_pengerjaan = 'menunggu_persetujuan' AND
           NEW.status_pengerjaan = 'selesai' THEN
         SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Lompatan status salah: menunggu_persetujuan ke selesai.';
    ELSEIF OLD.status_pengerjaan = 'disetujui' AND
           NEW.status_pengerjaan = 'selesai' THEN
         SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Lompatan status salah: disetujui ke selesai.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `inspirasi`
--

DROP TABLE IF EXISTS `inspirasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `inspirasi` (
  `id_publikasi` int(11) NOT NULL,
  `id_merchandise` int(11) NOT NULL,
  KEY `id_publikasi` (`id_publikasi`),
  KEY `Inspirasi_ibfk_2` (`id_merchandise`),
  CONSTRAINT `Inspirasi_ibfk_2` FOREIGN KEY (`id_merchandise`) REFERENCES `merchandise` (`id_merchandise`) ON DELETE CASCADE,
  CONSTRAINT `inspirasi_ibfk_1` FOREIGN KEY (`id_publikasi`) REFERENCES `publikasi` (`id_publikasi`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inspirasi`
--

LOCK TABLES `inspirasi` WRITE;
/*!40000 ALTER TABLE `inspirasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `inspirasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komentar`
--

DROP TABLE IF EXISTS `komentar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `komentar` (
  `id_komentar` int(11) NOT NULL,
  `id_supporter` int(11) NOT NULL,
  `id_konten` int(11) NOT NULL,
  `waktu` timestamp NULL DEFAULT NULL,
  `isi_komentar` text DEFAULT NULL,
  PRIMARY KEY (`id_komentar`),
  KEY `id_supporter` (`id_supporter`),
  KEY `id_konten` (`id_konten`),
  CONSTRAINT `komentar_ibfk_1` FOREIGN KEY (`id_supporter`) REFERENCES `supporter` (`id_supporter`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `komentar_ibfk_2` FOREIGN KEY (`id_konten`) REFERENCES `konten` (`id_konten`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komentar`
--

LOCK TABLES `komentar` WRITE;
/*!40000 ALTER TABLE `komentar` DISABLE KEYS */;
/*!40000 ALTER TABLE `komentar` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_log_komentar
AFTER INSERT ON Komentar
FOR EACH ROW
BEGIN
    INSERT INTO AktivitasPendukung (id_supporter, jenis_aktivitas, waktu_aktivitas, keterangan)
    VALUES (
        NEW.id_supporter,
        'Komentar',
        NEW.waktu,
        CONCAT('Komentar di konten ID: ', NEW.id_konten)
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `konten`
--

DROP TABLE IF EXISTS `konten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `konten` (
  `id_konten` int(11) NOT NULL,
  `nama_bidang` varchar(100) DEFAULT NULL,
  `judul` varchar(255) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `tanggal_publikasi` date DEFAULT NULL,
  `jenis` varchar(75) DEFAULT NULL,
  PRIMARY KEY (`id_konten`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konten`
--

LOCK TABLES `konten` WRITE;
/*!40000 ALTER TABLE `konten` DISABLE KEYS */;
/*!40000 ALTER TABLE `konten` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `kreatorpopuler`
--

DROP TABLE IF EXISTS `kreatorpopuler`;
/*!50001 DROP VIEW IF EXISTS `kreatorpopuler`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `kreatorpopuler` AS SELECT
 1 AS `nama_kreator`,
  1 AS `bidang_kreasi`,
  1 AS `jumlah_pendukung_aktif`,
  1 AS `jumlah_komentar`,
  1 AS `skor_popularitas` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `manfaat`
--

DROP TABLE IF EXISTS `manfaat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `manfaat` (
  `id_tier` int(11) NOT NULL,
  `id_konten` int(11) NOT NULL,
  KEY `id_konten` (`id_konten`),
  KEY `Manfaat_ibfk_1` (`id_tier`),
  CONSTRAINT `Manfaat_ibfk_1` FOREIGN KEY (`id_tier`) REFERENCES `tier` (`id_tier`) ON DELETE CASCADE,
  CONSTRAINT `manfaat_ibfk_2` FOREIGN KEY (`id_konten`) REFERENCES `konten` (`id_konten`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manfaat`
--

LOCK TABLES `manfaat` WRITE;
/*!40000 ALTER TABLE `manfaat` DISABLE KEYS */;
/*!40000 ALTER TABLE `manfaat` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_manfaat_check_content_creator_before_insert
BEFORE INSERT ON Manfaat
FOR EACH ROW
BEGIN
    DECLARE v_tier_creator_id INT;
    DECLARE v_content_is_owned_by_tier_creator INT DEFAULT 0;

    SELECT T.id_creator INTO v_tier_creator_id
    FROM Tier T
    WHERE T.id_tier = NEW.id_tier;

    IF v_tier_creator_id IS NOT NULL THEN
        SELECT 1 INTO v_content_is_owned_by_tier_creator
        FROM Publikasi P
        WHERE P.id_konten = NEW.id_konten AND P.id_creator = v_tier_creator_id
        LIMIT 1;
    END IF;

    IF v_content_is_owned_by_tier_creator = 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Konten yang dijadikan manfaat harus dibuat oleh kreator pemilik tier tersebut.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `merchandise`
--

DROP TABLE IF EXISTS `merchandise`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `merchandise` (
  `id_merchandise` int(11) NOT NULL,
  `nama` varchar(100) DEFAULT NULL,
  `harga` int(11) NOT NULL,
  `stok` int(11) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  PRIMARY KEY (`id_merchandise`),
  CONSTRAINT `CK_Merchandise_Harga` CHECK (`harga` <= 1500000)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `merchandise`
--

LOCK TABLES `merchandise` WRITE;
/*!40000 ALTER TABLE `merchandise` DISABLE KEYS */;
/*!40000 ALTER TABLE `merchandise` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER Merchandise_After_Update_Harga
AFTER UPDATE ON Merchandise
FOR EACH ROW
BEGIN
    DECLARE chk INT DEFAULT 0;
    DECLARE sid INT;
    DECLARE qty INT;
    DECLARE cur CURSOR FOR
        SELECT id_supporter , jumlah
        FROM Struk_Pembelian
        WHERE id_merchandise = NEW.id_merchandise;
    DECLARE CONTINUE HANDLER FOR NOT FOUND SET chk = 1;
    OPEN cur;
    read_loop : LOOP
        FETCH cur INTO sid , qty;
        IF chk THEN
            LEAVE read_loop;
        END IF;
        UPDATE Struk_Pembelian
        SET total_harga = qty * NEW.harga
        WHERE id_supporter = sid AND id_merchandise = NEW.id_merchandise;
    END LOOP;
    CLOSE cur;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `publikasi`
--

DROP TABLE IF EXISTS `publikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `publikasi` (
  `id_publikasi` int(11) NOT NULL,
  `id_creator` int(11) NOT NULL,
  `id_konten` int(11) NOT NULL,
  PRIMARY KEY (`id_publikasi`),
  KEY `id_creator` (`id_creator`),
  KEY `id_konten` (`id_konten`),
  CONSTRAINT `publikasi_ibfk_1` FOREIGN KEY (`id_creator`) REFERENCES `creator` (`id_creator`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `publikasi_ibfk_2` FOREIGN KEY (`id_konten`) REFERENCES `konten` (`id_konten`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `publikasi`
--

LOCK TABLES `publikasi` WRITE;
/*!40000 ALTER TABLE `publikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `publikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `special_content`
--

DROP TABLE IF EXISTS `special_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `special_content` (
  `id_spesial` int(11) NOT NULL,
  `id_supporter` int(11) NOT NULL,
  `id_creator` int(11) DEFAULT NULL,
  `judul` varchar(255) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `harga_dasar` int(11) DEFAULT NULL,
  `tanggal_batas_revisi` date DEFAULT NULL,
  `batas_waktu_pengerjaan` date DEFAULT NULL,
  PRIMARY KEY (`id_spesial`),
  KEY `id_creator` (`id_creator`),
  KEY `id_supporter` (`id_supporter`),
  CONSTRAINT `special_content_ibfk_1` FOREIGN KEY (`id_creator`) REFERENCES `creator` (`id_creator`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `special_content_ibfk_2` FOREIGN KEY (`id_supporter`) REFERENCES `supporter` (`id_supporter`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_special_content_revision_deadline` CHECK (`tanggal_batas_revisi` <= `batas_waktu_pengerjaan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `special_content`
--

LOCK TABLES `special_content` WRITE;
/*!40000 ALTER TABLE `special_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `special_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `struk_langganan`
--

DROP TABLE IF EXISTS `struk_langganan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `struk_langganan` (
  `id_supporter` int(11) NOT NULL,
  `id_tier` int(11) NOT NULL,
  `tanggal_mulai` date DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `metode_pembayaran` varchar(50) DEFAULT NULL,
  `jumlah` int(11) NOT NULL,
  `tanggal_pembayaran_terakhir` date DEFAULT NULL,
  KEY `id_supporter` (`id_supporter`),
  KEY `Struk_Langganan_ibfk_2` (`id_tier`),
  CONSTRAINT `Struk_Langganan_ibfk_2` FOREIGN KEY (`id_tier`) REFERENCES `tier` (`id_tier`) ON DELETE CASCADE,
  CONSTRAINT `struk_langganan_ibfk_1` FOREIGN KEY (`id_supporter`) REFERENCES `supporter` (`id_supporter`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `struk_langganan`
--

LOCK TABLES `struk_langganan` WRITE;
/*!40000 ALTER TABLE `struk_langganan` DISABLE KEYS */;
/*!40000 ALTER TABLE `struk_langganan` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_check_jumlah_sesuai_harga_tier_insert
BEFORE INSERT ON Struk_Langganan
FOR EACH ROW
BEGIN
    DECLARE v_harga_tier INT;

    SELECT harga INTO v_harga_tier
    FROM Tier
    WHERE id_tier = NEW.id_tier;

    IF NEW.jumlah <> v_harga_tier THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Jumlah pembayaran pada struk langganan tidak sesuai dengan harga tier.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_log_langganan
AFTER INSERT ON Struk_Langganan
FOR EACH ROW
BEGIN
    INSERT INTO AktivitasPendukung (id_supporter, jenis_aktivitas, keterangan)
    VALUES (
        NEW.id_supporter,
        'Berlangganan',
        CONCAT('Berlangganan tier ID: ', NEW.id_tier, ', jumlah: ', NEW.jumlah)
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `struk_pembelian`
--

DROP TABLE IF EXISTS `struk_pembelian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `struk_pembelian` (
  `id_supporter` int(11) NOT NULL,
  `id_merchandise` int(11) NOT NULL,
  `jumlah` int(11) NOT NULL,
  `tanggal_pembelian` date DEFAULT NULL,
  `total_harga` int(11) NOT NULL,
  `metode_pembayaran` varchar(75) DEFAULT NULL,
  KEY `id_supporter` (`id_supporter`),
  KEY `Struk_Pembelian_ibfk_2` (`id_merchandise`),
  CONSTRAINT `Struk_Pembelian_ibfk_2` FOREIGN KEY (`id_merchandise`) REFERENCES `merchandise` (`id_merchandise`) ON DELETE CASCADE,
  CONSTRAINT `struk_pembelian_ibfk_1` FOREIGN KEY (`id_supporter`) REFERENCES `supporter` (`id_supporter`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `struk_pembelian`
--

LOCK TABLES `struk_pembelian` WRITE;
/*!40000 ALTER TABLE `struk_pembelian` DISABLE KEYS */;
/*!40000 ALTER TABLE `struk_pembelian` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER SP_Before_Insert_Merchandise
BEFORE INSERT ON Struk_Pembelian
FOR EACH ROW
BEGIN
    DECLARE cnt INT;
    IF (NEW.jumlah <= 0) THEN
        SET NEW.jumlah = 0;
        SET NEW.total_harga = 0;
    ELSE
        SELECT harga INTO cnt 
        FROM Merchandise
        WHERE id_merchandise = NEW.id_merchandise;
        SET NEW.total_harga = NEW.jumlah * cnt;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_log_pembelian
AFTER INSERT ON Struk_Pembelian
FOR EACH ROW
BEGIN
    INSERT INTO AktivitasPendukung (id_supporter, jenis_aktivitas, keterangan)
    VALUES (
        NEW.id_supporter,
        'Pembelian',
        CONCAT('Membeli merchandise ID: ', NEW.id_merchandise, ', jumlah: ', NEW.jumlah, ', total: ', NEW.total_harga)
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER SP_Before_Update_Jumlah
BEFORE UPDATE ON Struk_Pembelian
FOR EACH ROW
BEGIN
    DECLARE cnt INT;
    IF (NEW.jumlah <= 0) THEN
        SET NEW.jumlah = 0;
        SET NEW.total_harga = 0;
    ELSE
        SELECT harga INTO cnt 
        FROM Merchandise
        WHERE id_merchandise = NEW.id_merchandise;
        SET NEW.total_harga = NEW.jumlah * cnt;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `supporter`
--

DROP TABLE IF EXISTS `supporter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `supporter` (
  `id_supporter` int(11) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  `tanggal_bergabung` date DEFAULT NULL,
  PRIMARY KEY (`id_supporter`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supporter`
--

LOCK TABLES `supporter` WRITE;
/*!40000 ALTER TABLE `supporter` DISABLE KEYS */;
/*!40000 ALTER TABLE `supporter` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validasi_email_supporter_insert
BEFORE INSERT ON Supporter
FOR EACH ROW
BEGIN
    IF NOT (NEW.email LIKE '_%@_%._%' AND NEW.email LIKE '%.com' AND LOCATE('@', NEW.email, LOCATE('@', NEW.email) + 1) = 0 AND SUBSTRING_INDEX(SUBSTRING_INDEX(NEW.email, '@', 1), '@', -1) NOT LIKE '%@%') THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Format email pendukung tidak valid.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validasi_email_supporter_update
BEFORE UPDATE ON Supporter
FOR EACH ROW
BEGIN
    IF NEW.email <> OLD.email THEN
        IF NOT (NEW.email LIKE '_%@_%._%' AND NEW.email LIKE '%.com' AND LOCATE('@', NEW.email, LOCATE('@', NEW.email) + 1) = 0 AND SUBSTRING_INDEX(SUBSTRING_INDEX(NEW.email, '@', 1), '@', -1) NOT LIKE '%@%') THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Format email pendukung tidak valid.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `teks`
--

DROP TABLE IF EXISTS `teks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `teks` (
  `id_konten` int(11) NOT NULL,
  `jumlah_kata` int(11) NOT NULL,
  `format` varchar(50) DEFAULT NULL,
  KEY `id_konten` (`id_konten`),
  CONSTRAINT `teks_ibfk_1` FOREIGN KEY (`id_konten`) REFERENCES `konten` (`id_konten`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teks`
--

LOCK TABLES `teks` WRITE;
/*!40000 ALTER TABLE `teks` DISABLE KEYS */;
INSERT INTO `teks` VALUES
(1,1364,'.txt'),
(5,1046,'.pdf'),
(7,1247,'.txt'),
(22,1888,'.md'),
(46,1764,'.txt'),
(48,1128,'.txt'),
(50,1987,'.txt'),
(52,373,'.txt'),
(53,704,'.txt'),
(56,750,'.pdf'),
(59,427,'.txt'),
(60,1936,'.md'),
(61,535,'.txt'),
(63,1699,'.txt'),
(64,625,'.md'),
(68,1541,'.pdf'),
(74,1809,'.md'),
(77,1262,'.md'),
(80,1817,'.md'),
(82,1506,'.pdf'),
(87,1635,'.pdf'),
(94,1300,'.txt'),
(96,339,'.txt'),
(97,1939,'.pdf'),
(98,951,'.txt');
/*!40000 ALTER TABLE `teks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tier`
--

DROP TABLE IF EXISTS `tier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tier` (
  `id_tier` int(11) NOT NULL,
  `id_creator` int(11) NOT NULL,
  `nama_tier` varchar(100) DEFAULT NULL,
  `deskripsi` text DEFAULT NULL,
  `harga` int(11) NOT NULL,
  PRIMARY KEY (`id_tier`),
  KEY `fk_creator_tier` (`id_creator`),
  CONSTRAINT `fk_creator_tier` FOREIGN KEY (`id_creator`) REFERENCES `creator` (`id_creator`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CK_Tier_Harga` CHECK (`harga` <= 1000000)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tier`
--

LOCK TABLES `tier` WRITE;
/*!40000 ALTER TABLE `tier` DISABLE KEYS */;
/*!40000 ALTER TABLE `tier` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER check_max_5_tiers
BEFORE INSERT ON Tier
FOR EACH ROW
BEGIN
    DECLARE tier_count INT;
    SELECT COUNT(*) INTO tier_count
    FROM Tier
    WHERE id_creator = NEW.id_creator;
    IF tier_count >= 5 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Kreator hanya bisa memiliki maksimal 5 tier.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `video`
--

DROP TABLE IF EXISTS `video`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `video` (
  `id_konten` int(11) NOT NULL,
  `durasi` time DEFAULT NULL,
  `resolusi` varchar(50) DEFAULT NULL,
  KEY `id_konten` (`id_konten`),
  CONSTRAINT `video_ibfk_1` FOREIGN KEY (`id_konten`) REFERENCES `konten` (`id_konten`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `video`
--

LOCK TABLES `video` WRITE;
/*!40000 ALTER TABLE `video` DISABLE KEYS */;
/*!40000 ALTER TABLE `video` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `kreatorpopuler`
--

/*!50001 DROP VIEW IF EXISTS `kreatorpopuler`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_uca1400_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `kreatorpopuler` AS with KreatorPendukungAktif as (select `t`.`id_creator` AS `id_creator`,count(distinct `sl`.`id_supporter`) AS `jumlah_pendukung_aktif` from (`tier` `t` join `struk_langganan` `sl` on(`t`.`id_tier` = `sl`.`id_tier`)) where `sl`.`status` = 'Aktif' group by `t`.`id_creator`), KreatorJumlahKomentar as (select `p`.`id_creator` AS `id_creator`,count(`k`.`id_komentar`) AS `jumlah_total_komentar` from (`publikasi` `p` join `komentar` `k` on(`p`.`id_konten` = `k`.`id_konten`)) group by `p`.`id_creator`)select `c`.`nama` AS `nama_kreator`,`c`.`bidang_kreasi` AS `bidang_kreasi`,coalesce(`kpa`.`jumlah_pendukung_aktif`,0) AS `jumlah_pendukung_aktif`,coalesce(`kjk`.`jumlah_total_komentar`,0) AS `jumlah_komentar`,coalesce(`kpa`.`jumlah_pendukung_aktif`,0) * 3 + coalesce(`kjk`.`jumlah_total_komentar`,0) AS `skor_popularitas` from ((`creator` `c` left join `kreatorpendukungaktif` `kpa` on(`c`.`id_creator` = `kpa`.`id_creator`)) left join `kreatorjumlahkomentar` `kjk` on(`c`.`id_creator` = `kjk`.`id_creator`)) order by coalesce(`kpa`.`jumlah_pendukung_aktif`,0) * 3 + coalesce(`kjk`.`jumlah_total_komentar`,0) desc limit 10 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-05-31 20:33:05
